html {
    box-sizing: border-box;
    }

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    background-image: url("../images/background-picture.jpeg");
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

.currencyConverter {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 15px;
}

.header {
    text-align: center;
    color: brown;
}