html {
    box-sizing: border-box;
}

*,
 ::after,
 ::before {
    box-sizing: inherit;
}

.body {
    background-image: url("../images/background-picture.jpeg");
    background-position: center;
    background-size: cover;
    font-size: 18px;
}

.currencyConverter {
    max-width: 1000px;
    margin: 0 auto;
    min-height: 100vh;
    padding: 15px;
}

.header {
    text-align: center;
    color: brown;
}